<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../static/core/icon/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    
        <div class="heading">
        <h1>SHUBHRADEEP DAS<span>.</span></h1>
    </div>
        <div class="subtitle">
            Web Developer <span>|</span> CyberSecurity Enthusiast
        </div>
        <br>
        <div class="social-apps">
            
            <a href="https://github.com/shubhrad1" ><img src="../../static/core/social-apps/github.png" placeholder="github"></a>
            <a href="https://www.facebook.com/profile.php?id=100055850841945"><img src="../../static/core/social-apps/facebook.png" placeholder="facebook"></a>
            <a href="https://www.instagram.com/d_shubhradeep/"><img src="../../static/core/social-apps/instagram.png" placeholder="instagram"></a>
            <a href="https://twitter.com/shubhrad1"><img src="../../static/core/social-apps/twitter.png" placeholder="twitter"></a>
            <a href="mailto:shubhramail.das@gmail.com"><img src="../../static/core/social-apps/mail.png" placeholder="mail"></a>
        </div>
        <div class="nav-container">
        <div class="navbar">
            <a href="/about/about.html"><div class="about">About</div></a>
            <div class="skill">Skills</div>
            <div class="projects">Projects</div>
            <div class="exp">Experience</div>
            <div class="contact">Contact Me </div>
        </div>
    </div>
    
</body>
</html>