<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/about.css">
    <link rel="icon" type="image/png" href="../../static/pages/common/favicon-32x32.png">
    <title>About</title>
</head>
<body>
    <h1 class="heading">About ME!</h1>
    <div class="content">
    <p>Hey there! I'm Shubhradeep Das. I'm a student of Indian Institute of Technology, Guwahati(IITG) and I'm currently doing 
    my Major in Electronics and Communications Engineering(B.Tech ECE). I am from the city of Asansol, in West Bengal and 
    now I am currently a resident of Barak Hostel, IIT Guwahati. 
    </p>
    </div>
</body>
</html>